#body{
  width:100%;
  display:-webkit-box; 
  display:-moz-box;
  -webkit-box-pack:center;
  -moz-box-pack:center;
}

#body *{
  margin:0px; padding:0px;
}


#container{
 border:1px solid black;
 max-width:1000px; 
 margin:5px;
 display:-webkit-box; display:-moz-box;
 -moz-box-orient:horizontal; -webkit-box-orient:horizontal;
 -webkit-box-flex:1;  -moz-box-flex:1;
  padding:1px;
  /*
  -webkit-box-direction:reverse;
  -moz-box-direction:reverse;
  */
}

#left_side{
 -moz-box-orient:vertical;
 -webkit-box-orient:vertical;
 text-align:center;
 font-size:13px;
 margin:0px 10px 0px 10px;
}

#left_side #ctgs_box{
}

#left_side #ctgs_box , #left_side #fbb_box , #left_side #mf_box{
 border:1px solid black;
 width:170px;
 margin-bottom:30px;
}
#ctgs_box #title ,  #fbb_box #title , #mf_box #title{
    font-weight:bold;
    padding:9px;
    border-bottom:1px solid black;
    background-color:lightgray;
}

#ctgs_box #ctgs_box_table ,  #fbb_box #fbb_box_table  , #mf_box #mf_box_table{
   width:100%;
}

#ctgs_box #ctgs_box_table td,  #fbb_box #fbb_box_table td, #mf_box #mf_box_table td{
  padding:8px;
  border-bottom:1px solid red;
   font-size:12px;
}


#right_side{
 border:1px solid black;
 -moz-box-orient:vertical;
 -webkit-box-orient:vertical;
 -webkit-box-flex:1; -moz-box-flex:1;
}

#right_side #top_nav_bar{
  width:100%;
  display:-webkit-box; 
  display:-moz-box;
  -moz-box-orient:horizontal;
  -webkit-box-orient:horizontal;
   -webkit-box-flex:1; -moz-box-flex:1;
  background-color:rgba(52,52,55,0.8);
  color:white;
  padding:10px;
}

#directory a{
  color:white;
}

#directory{
  font-size:11px;
  -webkit-box-flex:1; -moz-box-flex:1;
  margin-top:17px;
  padding:0px; 
}

#search_field{
  -webkit-box-flex:1; -moz-box-flex:1;
  padding:0px;
}
#search_field input[type="search"]{
  padding:5px;
  width:250px;
  border:none;
  border:1px solid lightgray;
  border-top-right-radius:4px;
   border-bottom-right-radius:4px;
  box-shadow:inset 0px 0px 10px 1px lightgray;
}
#search_field i{
  padding:8.5px 8px 8px 8px;
  border:1px solid lightgray;
  background:white;
  color:rgba(52,52,55,1);
    border-top-left-radius:4px;
   border-bottom-left-radius:4px;
}

#order_section{
  -webkit-box-flex:1; -moz-box-flex:1;
  text-align:center;
}

.drop_dwon_button{
    background-color: rgba(51, 214, 255 , 0.8);
    color: white;
    width:100px;
    height:32px;
    font-size: 16px;
    border: none;
    cursor: pointer; 
    text-align:center;
}
 
 #drop_donw_menu_content a{
   display:-webkit-box; display:-moz-box;
   text-align:center;
   padding:6px 10px 6px 10px;
   width:100%;
 }

.drop_donw_menu_content{
    display:block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop_dwon_button:hover .drop_donw_menu_content{
  display:block;
}

/*****The Style below to the header & footer******/

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
    height: 160px;
}
  #navbar{
    background-color:rgba(21,22,25,1);
    border:0px;
  }
  #navbar img{
    width:220px;
    
  }
  #nav_down_section{
    width:95%;
    height: 90px;
    border:0px solid white;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: white !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }


#arabic_label{
  position: absolute;
  top:14px;
  margin-left: 10px;
  margin-right: 10px;
  color:white;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  bottom:0px;
  top:120px;
  display: none;
}


#arabic_label a{
  color:white;
  text-decoration: none;
}
#arabic_label:hover{
  cursor: pointer;
  text-decoration: underline;
}


#cart{
  position: absolute;
  color:rgba(255,255,255,0.9);
  font-size:35px;
  left:95%;
  width:50px;
  height: 40px;
  top:110px;
}

#cart:hover{
  cursor: pointer;
}


.cart_info{
  position: relative;
  left:-255px;
  padding:25px;
  padding-bottom: 37px;
  background-color: white;
  font-size: 15px;
  width:265px;
  color:black;
  height: 50px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms;
  z-index: 3;
  font-family: tahoma;
}
#cart:hover .cart_info{
  opacity: 1;
  visibility: visible;
}


#middle_search{
  position: relative;
  top:-25px;
  left:300px;
}
#middle_search_query{
  border-radius: 4px;
  padding: 0.2em 0.3em;
  padding-right:25px;
  border:none;
  border:1px solid rgb(50,50,50);
  font-size:15px;
  font-family:Arial;
  transition: border 300ms;
  color:rgb(140, 140, 140);
  width:200px;
  background-color: rgb(50,50,50);

}
#middle_search_query:focus{
  border:1px solid rgba(200, 200, 200,0.5);
}

.scroll_to_top{
  width: 50px;
  height: 50px;
  border:1px solid rgba(0,0,0,0.2);
  position: fixed;
  left:95%;
  top:90%;
  border-radius: 3px;
  background-color: white;
  transition:background-color 0.7s;
  display: none;
  z-index: 100;
}
.scroll_to_top:hover{
  border:0px solid rgba(0,0,0,0.2);
  cursor: pointer;
  background-color: #ff3333;
}
.scroll_to_top:hover #up_arrow{
  color:rgba(255,255,255,0.7);
}
#up_arrow{
  position: relative;
  top:3px;
  font-size: 44px;
  z-index: 100;
  left:2px;
}


#search{
  display: none;
}
@media only screen and (max-width: 700px) {
    #middle_search_query{
       display:none;
    }
    #cart{
      left:88%;
    }
    .scroll_to_top{
      left:90%;
    }
    #middle_search{
      display: none;
    }
    #myNavbar{
      background: rgba(0,0,0,0.9);
      border:0px solid black;
    }

}



#bottom_footer {
  position: relative;
  right: 0; bottom: 0; left: 0;
  margin-top:10px;
  padding:40px 15px 15px 15px;
  width:100%;
  background-color:rgba(52,52,55,1);
  color:white;
  box-shadow:0px 0px 5px 1px black;
  
}

#bottom_footer #footer_lists_table{
  margin-top:10px;
  margin-bottom:30px;
  width:100%;
  text-align:center;
}
#bottom_footer #footer_lists_table td:nth-child(2) , #bottom_footer #footer_lists_table td:nth-child(3){
   border-left:1px solid lightgray;
}

#footer_lists_table td ul{
  list-style:none;
}

#footer_lists_table tr td ul li{
   padding:10px;
}

#footer_lists_table tr td ul li a{
   color:white;
   text-decoration:none;
   top:0px;
   position:relative;
   transition:color 600ms , top 600ms;
}

#footer_lists_table tr td ul li a:hover{
  top:-2px;
  text-decoration:underline;
  color:rgb(0, 153, 153);
}

#footer_lists_table tr td ul span{
   font-size:20px;
   padding-bottom:3px;
   border-bottom:1px solid lightgray;
}

#subscribe_section{
  color:black;
  margin:20px 20px 20px 20px;
}

#subscribe_section p{
  color:white;
  font-size:18px;
  font-family:Monospace;
}

#subscribe_from input[type="email"]{
  padding:5px 10px 5px 10px;
  width:300px;
  border:none;
  border:1px solid gray;
  border-radius:3px;
  box-shadow:inset 0px 0px 3px 1px gray;
  transition:border 600ms;
  transition:border-color 0.5s;
}

#subscribe_from input[type="email"]:focus{
  border:1px solid rgba(255,50,50,0.6);
}

#subscribe_from input[type="submit"]{
  padding:5px 11px 5px 11px;
  border:none;
  font-weight:bold;
  background:white;
  border-radius:3px;
  color:rgba(52,52,55,1);
  transition: background 500ms, color 500ms;
  margin-left:5px;
}

#subscribe_from input[type="submit"]:hover{
   background: rgba(255,70,70,0.9);
   color:white;
}

#copy_right{
  text-align:center;
  margin-top:20px;
}
.fa-search:hover{
cursor: pointer;
}
@media screen and (max-width: 600px) {
   
   #footer_lists_table tr td{
       display:inline-block;
   }
   
   #subscribe_from input[type="email"]{
   width:200px;
   margin-bottom:20px;
   }
  
  #subscribe_from input{
    display:inline-block;
  }

  #copy_right{
    text-align:center;
  }
  #subscribe_section{
   margin:20px 20px 20px 80px;
}

   
}


